.block-1 {
	width: 120px;
	height: 120px;
	margin: 20px;
	background: #0E9F98;
}
.block-2 {
	width: 120px;
	height: 120px;
	margin: 20px;
	background: #04BF9D;
}
.block-3 {
	width: 120px;
	height: 120px;
	margin: 20px;
	background: #F4E85C;
}